@import url(reset.css);
@import url(960.css);
@import url(jqueryui.css);

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
    display:block
}

html{
    font-size:100%;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
} 

@font-face{
    font-family:'Museo500';
    src: url('fonts/Museo500.eot');
    src: url('fonts/Museo500.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo500.woff') format('woff'),
         url('fonts/Museo500.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
} 

@font-face{
    font-family:'Museo300';
    src: url('fonts/Museo300.eot');
    src: url('fonts/Museo300.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo300.woff') format('woff'),
         url('fonts/Museo300.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
} 

@font-face{
    font-family:'OpenSans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans.woff') format('woff'),
         url('fonts/OpenSans.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}              

body{
    margin:0;
    font-size:13px;
    line-height:1.231;
}  

body,button,input,select,textarea,p{
    font-family:'OpenSans', sans-serif;
    color:#303030
}       

h1,h2,h3,h4,h5,h6,p{
    display:block;
    font-weight:normal
}       

a{
    text-decoration:none;
    color:#0088cc;
}

a:hover{
    text-decoration:underline;
    cursor:pointer;
}

::-moz-selection{
    background:#fe57a1;
    color:#fff;
    text-shadow:none
}     

::selection{
    background:#fe57a1;
    color:#fff;
    text-shadow:none
} 
/*  end universal                        */   

/*  beigin header & glb navigation      */
header#navi{
    position:fixed;
    height:55px;
    top:0;
    left:0;
    z-index:10000;
    padding:20px 0;
    width:100%; 
    color:#303030;
    background-color:#fff;
    font-family: 'Museo500', sans-serif;
}

header#navi div.navi-wrapper{
    position:relative;
    height:55px;
    width:940px;
    margin-left:10px;
    margin-right:10px;
}      

header#navi hgroup{
    position:absolute;
    height:55px;
    width:200px;
    left:0;
    top:0;
}   

header#navi h1{
    position:absolute;
    width:200px;
    font-size:30px;
    font-family: 'Museo300', sans-serif;
    color:#303030;
    left:0;
    top:0;
}                        

header#navi h2{
    position:absolute;
    width:100px;
    font-size:13px;
    font-family: 'Museo500', sans-serif;
    color:#08c;
    left:0;
    top:39px;
}      

header#navi nav{
    position:absolute;
    height:27px;
    padding-top:15px;
    top:0;
    right:0;
}   

header#navi nav li{
    display:block;
    padding-left:8px;
    float:left;
}      

header#navi nav a{
    height:17px;
    display:block;
    font-size:14px;
    margin-top:-50px;
    padding:50px 5px 5px 5px;
    color:#303030;
    border-bottom:0px solid #fff;
}

/*header#navi nav a.active{
    color:#fff;
    background-color:#08c;
} */

header#navi nav a:hover{
    text-decoration:none;
}
/*  end header                  */  

/*  begin blink slider      */ 
div#blink-slider-activator{
    position:fixed;
    width:960px;
    height:100px;
    bottom:30px;
    z-index:100;
}    

div#blink-slider-wrapper{
    width:500px; 
    position:absolute;
    left:230px;
    top:50%;
    border:1px solid #ededed;
    background-image:none;
    background-color:#f6f6f6;
}      

div#blink-tooltip{
    position:absolute;
    left:-20px;
    top:-85px;
    width:146px;
    height:80px;
    background-image:url('/images/icon_tooltip.png');
    background-repeat: no-repeat;
}

div#blink-slider{
    width:430px;
    margin:0 auto;
    height:3px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    cursor:pointer;
    overflow:visible !important;
}

div#blink-slider.ui-widget-content{ 
    border:none;
    background:none;
}
 
div#blink-slider .ui-slider-handle{
    width:70px;
    height:3px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    top:0px;
    margin-left:-35px;
} 

div#blink-slider .ui-state-default{
    border:none;
    background-image:none;
    background-color:#08c;
}

/*  end blink slide         */

/*  begin main                  */     
div#main{
    position:relative;
    padding-top:90px;
    margin:0 auto;
    width:960px;
    height:200px;
    overflow:hidden;
} 

div#main-mask{
    position:absolute;
    width:6720px;
    left:0px;
/*    top:-300px;*/
} 


div#main-mask article{
    width:960px;
    float:left;
}

div#main-mask div.preloading{
    display:none;
} 
/*  end main*/ 


/*  begin article universal     */
article section.intro{
    margin-bottom:50px;
}
 
article section.intro header{
    margin-top:40px;
}

article section.intro header h1{
    font-family: 'Museo500', sans-serif;
    font-size:35px;
    color:#303030;
    padding-bottom:23px;
} 

article section.intro header h1 em{
    font-style:normal;
    color:#08c;
}  

article section.intro header p{
    font-size:12px;
    line-height:18px;
}

article section.intro img.divider{
    opacity:0.01;
}

article section.features{
    margin-top:30px;
    margin-bottom:35px;
    padding-bottom:80px;
    background: url('/images/bg_section_divider.png') no-repeat 50% 100%;
}                     

article section:last-child{
    background-image:none;
    padding-bottom:0px;
}

article section.features header h1{
    font-size:35px;
    margin-bottom:22px;
    font-family: 'Museo500', sans-serif;
}           

article section.features div.feature-detail{
    margin-bottom:20px;
}

article section.features div.feature-detail img{
    padding:4px;
    border:1px solid #ddd;
/*    margin-top:8px;*/
    margin-bottom:20px;
}    
article section.features div.feature-detail img.illustration{
    margin-bottom:30px;
}

article section.features div.feature-detail h1{
    font-size:14px;
    margin:8px 0px;
    font-family: 'Museo500', sans-serif;
}     


article section.features div.feature-detail h1 em{
    font-style:normal;
    color:#08c;
}
 

article section.features div.feature-detail h2{
    font-size:11px;
    margin:5px 0px;
    font-family: 'Museo500', sans-serif;
}

article section.features p{
    color:#666;
    font-size:12px;
    line-height:18px;
    margin-bottom:25px;
} 

article section.features p em{
    font-style:normal;
    font-family: 'Museo500', sans-serif;
}  

article img.arrow.leave{
    margin-top:10px; 
    cursor:pointer;
}                                  

article img.arrow.detail{
    position:relative;
    opacity:0.01;            
    border:none;
    height:29px;
    width:100px;
    margin-top:3px; 
    margin-left:0px;
    cursor:pointer;
    z-index:1000;
}                              

article div.tooltip-scroll{
    position:relative;
    width:210px;
    height:58px;
    margin-top:3px;
    margin-left:-5px;
    background:url("/images/icon_tooltip_detail.png") no-repeat;
    display:none; 
    z-index:2000;
}
/*  end article universal       */

/*  begin site intro article*/
article#site-intro hgroup{
    font-family: 'Museo500', sans-serif;
    padding-top:60px;
}  

article#site-intro h1{
    font-size:65px;
    color:#0088cc;
    padding-bottom:10px;
}                

article#site-intro h2{
    font-size:35px;
    padding-bottom:25px;
} 

article#site-intro a{
    font-size:18px;
} 

article#site-intro a:hover{
    text-decoration:none;
}          

article#site-intro img.arrow.mcontent{
    opacity:0.01;            
    border:none;
    height:40px;
    width:40px;
    margin-left:5px;
    margin-top:-8px;
    cursor:pointer;
} 


 
/*  end site intro article   */

/*  start rbc article   */
article#rbc section.intro{
    padding-top:60px;
}      

article#rbc section.intro header h1{
    font-family: 'Museo500', sans-serif;
    padding-top:35px;
    padding-bottom:23px;
} 
   

article#rbc section.features div#rbc-backend{
    background:url('/images/graphic_rbc_backend_bg.png') no-repeat 105% 20%;
}     

article#rbc section.features div#rbc-gallery{
    background:url('/images/graphic_rbc_gallery_bg.png') no-repeat 100% 0%;
} 

article#rbc section.features div#rbc-others p{
    margin-bottom:5px;
}

article#rbc section.features div#rbc-others a.zoom{
    margin-bottom:20px;
}         

article#rbc section.features div#rbc-others img{
    margin-left:-2px;
}

/*  end rbc article*/

/*  start asa article*/  
article#asa section.intro{
    padding-top:60px;
}    

article#asa section.intro header h1{
    font-family: 'Museo500', sans-serif;
    font-size:26px;
    color:#3b663f;
    padding-top:0px;
    padding-bottom:23px;
} 

article#asa section.intro header h1 em{
    font-size:35px;
    color:#303030;
}  
/*  end asa article*/    

/* start clep article */
article#clep section.intro{
    padding-top:40px;
}
/* end clep article*/

/* start sia article*/ 
article#sia section.intro{
    padding-top:20px;
}                

article#sia section.intro header h1{
    font-family: 'Museo500', sans-serif;
    font-size:26px;
    color:#3b663f;
    padding-top:20px;
    padding-bottom:23px;
} 

article#sia section.intro header h1 em{
    font-size:35px;
    color:#303030;
}

/* end sia article */

footer{
    font-weight:normal;
    position:fixed;
    height:35px;
    bottom:0;
    left:0;
    z-index:10000;
    padding:10px 0 0 0;
    font-size:11px;
    width:100%;
    background-color:#303030; 
    color:#fff;
}                  

/*  begin jquery ui styling*/
/*  slider  */
.ui-slider a {
    outline:none;
}

div#blink-slider{
    
}



                  






