@import url(reset.css);
@import url(960.css);
@import url(jqueryui.css);

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
    display:block
}

html{
    font-size:100%;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
} 

@font-face{
    font-family:'Museo500';
    src: url('fonts/Museo500.eot');
    src: url('fonts/Museo500.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo500.woff') format('woff'),
         url('fonts/Museo500.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
} 

@font-face{
    font-family:'Museo300';
    src: url('fonts/Museo300.eot');
    src: url('fonts/Museo300.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo300.woff') format('woff'),
         url('fonts/Museo300.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
} 

@font-face{
    font-family:'OpenSans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans.woff') format('woff'),
         url('fonts/OpenSans.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}              

body{
    margin:0;
    font-size:13px;
    line-height:1.231;
}  

body,button,input,select,textarea,p{
    font-family:'OpenSans', sans-serif;
    color:#303030
}       

h1,h2,h3,h4,h5,h6,p{
    display:block;
    font-weight:normal
}       

a{
    text-decoration:none;
    color:#0088cc;
}

a:hover{
    text-decoration:underline;
    cursor:pointer;
}

::-moz-selection{
    background:#fe57a1;
    color:#fff;
    text-shadow:none
}     

::selection{
    background:#fe57a1;
    color:#fff;
    text-shadow:none
} 
/*  end universal                        */   

/*  beigin header & glb navigation      */
header#navi{
    position:fixed;
    height:50px;
    top:0;
    left:0;
    z-index:10000;
    padding:20px 0;
    width:100%; 
    color:#303030;
    background-color:#fff;
    font-family: 'Museo500', sans-serif;
}       

header hgroup{
    float:left;
}   

header#navi h1{
    font-size:30px;
    font-family: 'Museo300', sans-serif;
}                        

header#navi h2{
    font-size:13px;
    color:#08c;
}      

header#navi nav{
    font-size:14px;
    float:right;
    padding-top:15px;
    
}   

header#navi nav li{
    display:block;
    padding-right:20px;
    float:left;
}      

header#navi nav a{
    color:#303030;
}

header#navi nav a:hover{
    text-decoration:none;
}
/*  end header                  */ 

/*  begin main                  */     
div#main{
    position:relative;
    padding-top:90px;
    margin:0 auto;
    width:960px;
    height:500px;
    overflow:hidden;
} 

div#main-mask{
    position:absolute;
    width:3000px;
    left:-1920px;
} 


div#main-mask article{
    width:960px;
    float:left;
} 
/*  end main*/ 

/*  begin blink slider      */ 
div#blink-slider-activator{
    position:absolute;
    width:960px;
    height:200px;
    bottom:0px;
}

div#blink-slider{
    position:absolute;
    width:500px; 
    left:230px;
    top:60%;
    height:3px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    cursor:pointer;
}

div#blink-slider.ui-widget-content{ 
    border:1px solid #ededed;
    background-image:none;
    background-color:#f6f6f6;
}
 
div#blink-slider .ui-slider-handle{
    width:70px;
    height:3px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    top:0px;
    margin-left:0px;
} 

div#blink-slider .ui-state-default{
    border:none;
    background-image:none;
    background-color:#08c;
}

/*  end blink slide         */

/*  begin article universal     */ 
article section.intro header{
    margin-top:40px;
}

article section.intro header h1{
    font-family: 'Museo500', sans-serif;
    font-size:35px;
    color:#303030;
    padding-bottom:23px;
} 

article section.intro header h1 em{
    font-style:normal;
    color:#08c;
} 

article section.intro header p{
    font-size:12px;
    line-height:18px;
}
/*  end article universal       */

/*  begin intro article*/
article#site-intro hgroup{
    font-family: 'Museo500', sans-serif;
    padding-top:60px;
}  

article#site-intro h1{
    font-size:65px;
    color:#0088cc;
    padding-bottom:10px;
}                

article#site-intro h2{
    font-size:35px;
    padding-bottom:25px;
} 

article#site-intro a{
    font-size:18px;
} 
/*  end intro article   */

/*  start rbc article   */
article#rbc section.intro{
    padding-top:60px;
}
/*  end rbc article*/

footer{
    font-weight:normal;
    position:fixed;
    height:40px;
    bottom:0;
    left:0;
    z-index:10000;
    padding:10px 0 0 0;
    font-size:11px;
    width:100%;
    background-color:#303030; 
    color:#fff;
}                  

/*  begin jquery ui styling*/
/*  slider  */
.ui-slider a {
    outline:none;
}

div#blink-slider{
    
}



                  






